body {
	margin: 0px; padding: 0px; background-color: rgb(255, 255, 255);
}
body {
	color: rgb(0, 0, 0); font-family: Arial,宋体; font-size: 12px; text-decoration: none;
}
a {
	color: rgb(0, 0, 0); font-family: Arial,宋体; font-size: 12px; text-decoration: none;
}
td {
	color: rgb(0, 0, 0); font-family: Arial,宋体; font-size: 12px; text-decoration: none;
}
input {
	color: rgb(0, 0, 0); font-family: Arial,宋体; font-size: 12px; text-decoration: none;
}
select {
	color: rgb(0, 0, 0); font-family: Arial,宋体; font-size: 12px; text-decoration: none;
}
li {
	color: rgb(0, 0, 0); font-family: Arial,宋体; font-size: 12px; text-decoration: none;
}
dt {
	color: rgb(0, 0, 0); font-family: Arial,宋体; font-size: 12px; text-decoration: none;
}
dd {
	color: rgb(0, 0, 0); font-family: Arial,宋体; font-size: 12px; text-decoration: none;
}
iframe {
	color: rgb(0, 0, 0); font-family: Arial,宋体; font-size: 12px; text-decoration: none;
}
ul {
	list-style: none; margin: 0px; padding: 0px;
}
ul li {
	list-style: none; margin: 0px; padding: 0px;
}
dl {
	list-style: none; margin: 0px; padding: 0px;
}
dt {
	list-style: none; margin: 0px; padding: 0px;
}
dd {
	list-style: none; margin: 0px; padding: 0px;
}
a:hover {
	text-decoration: underline;
}
.clear {
	clear: both;
}
img {
	border: 0px currentColor; border-image: none;
}
.red {
	color: rgb(207, 0, 13);
}
.Page .Page_list a:hover {
	color: rgb(207, 0, 13);
}
.button {
	background: url("../../images/diamond/search_history_pic.jpg") repeat-x 0px 0px; padding: 0px 4px; height: 18px; line-height: 18px;
}
.button1 {
	background: url("../../images/diamond/AddCarBtn_bg.gif") no-repeat; width: 101px; height: 29px; display: block; cursor: pointer;
}
.button2 {
	background: url("../../images/diamond/NowOrderBtn_bg.jpg") no-repeat; width: 128px; height: 36px; float: left; display: block; cursor: pointer;
}
.btn_clear {
	background: url("../../images/diamond/ClearOrderBtn_bg.jpg") no-repeat; float: right;
}
.button_2 {
	background: url("../../images/diamond/search_history_pic.jpg") repeat-x 0px 0px; padding: 0px 4px; height: 18px; line-height: 18px;
}
#Wrap {
	margin: 0px auto; width: 1003px; clear: both;
}
#Header {
	height: 99px; border-bottom-color: rgb(85, 84, 82); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
#Contenter {
	padding: 10px 15px 0px 29px; background-color: rgb(255, 255, 255);
}
#Footer {
	height: 33px; text-align: center; color: rgb(143, 143, 143); line-height: 33px;
}
#Footer span {
	font-size: 11px;
}
#Header h1.logo {
	margin: 0px; padding: 0px 0px 0px 41px; float: left; display: inline;
}
#Header .NavMenu {
	padding: 65px 0px 0px 120px; float: left;
}
.NavMenu a {
	background-position: 0px 0px; width: 118px; height: 35px; text-align: center; color: rgb(255, 255, 255); line-height: 35px; font-size: 14px; margin-right: 2px; float: left; display: block; background-image: url("/images/diamond/menu_pic.jpg"); background-repeat: no-repeat;
}
.NavMenu a:hover {
	background-position: 0px -35px; color: rgb(40, 39, 35); text-decoration: none;
}
.NavMenu a.current {
	background-position: 0px -35px; color: rgb(40, 39, 35); text-decoration: none;
}
#Header .link {
	background: url("../../images/diamond/top_link.jpg") no-repeat 0px 0px; left: 875px; top: 100px; width: 116px; height: 26px; text-align: center; line-height: 26px; float: left; position: absolute;
}
#Header .link a:hover {
	text-decoration: underline;
}
#Contenter .title {
	background: url("../../images/diamond/map_title_bg.jpg") repeat-x; width: 753px; height: 31px; line-height: 31px; padding-left: 10px;
}
#Contenter .title a {
	background: url("../../images/diamond/title_ico.gif") no-repeat 100% 7px; padding-right: 11px; margin-right: 4px;
}
#Contenter .Search_Wrap {
	padding: 0px 0px 16px; height: 261px; margin-top: 10px;
}
.Search_Wrap .Search {
	width: 100%; float: left;
}
.Search .Search_title {
	height: 29px;
}
.Search_title span {
	background: url("../../images/diamond/searchBtn_bg.jpg") no-repeat; width: 100px; height: 29px; text-align: center; color: rgb(255, 255, 255); line-height: 29px; margin-right: 4px; float: left; display: block; cursor: pointer;
}
.Search_title span.curr {
	background: url("../../images/diamond/searchBtn_bg2.jpg") no-repeat;
}
.Search div.Search_list {
	height: 270px; background-color: rgb(229, 224, 212); _height: 265px;
}
.Search div.Color_search {
	height: 270px; background-color: rgb(229, 224, 212); _height: 265px;
}
.Search div.No_search {
	height: 270px; background-color: rgb(229, 224, 212); _height: 265px;
}
.Search div.Color_search {
	padding: 20px 0px; height: 243px; display: none;
}
.Search div.No_search {
	padding: 20px 0px; height: 243px; display: none;
}
.No_search div.NoSearch_Title {
	padding-left: 45px; margin-bottom: 15px;
}
.No_search div.NoSearch_Con {
	padding-left: 45px; margin-bottom: 15px;
}
.No_search div.NoSearch_Title {
	color: rgb(255, 0, 0);
}
.NoSearch_Con dl {
	width: 50%; float: left;
}
.NoSearch_Con dt {
	color: rgb(92, 82, 63); font-weight: bold;
}
.NoSearch_Con dd {
	margin: 2px 0px 5px;
}
.NoSearch_Con dd textarea {
	border: 1px groove rgb(245, 245, 245); border-image: none; width: 300px; height: 100px;
}
.NoSearch_Con dd input.button {
	border: 0px currentColor; border-image: none; width: 50px; height: 22px; cursor: pointer;
}
.Search_Wrap .History_Search {
	width: 182px; float: right;
}
.History_Search div.rate {
	color: rgb(0, 0, 0);
}
.History_Search div.Exchange_Rate {
	border: 1px solid rgb(206, 0, 13); border-image: none; height: 26px; text-align: center; line-height: 26px; font-size: 14px; margin-bottom: 1px; background-color: rgb(246, 241, 230);
}
.Exchange_Rate strong {
	color: rgb(206, 0, 13); font-size: 15px;
}
.History_Search_title {
	background: url("../../images/diamond/search_history_titlebg.jpg") no-repeat; height: 33px; color: rgb(225, 219, 207); line-height: 33px; padding-left: 13px; font-weight: bold;
}
.Search_left {
	width: 473px; margin-left: 7px; float: left; display: inline;
}
.Search_right {
	width: 432px; margin-right: 7px; float: right; display: inline;
}
.Search_Result .Quantity {
	padding: 10px;
}
.Search_Result .Quantity strong.red {
	padding: 0px 4px;
}
.ListTable {
	background: url("../../images/diamond/table_title.jpg") no-repeat 0px 0px; margin: 0px auto; width: 953px;
}
.ListTable th {
	background: url("../../images/diamond/th_bg.jpg") no-repeat right; line-height: 31px; font-weight: normal;
}
.ListTable tr.even {
	background-color: rgb(242, 239, 233);
}
.ListTable td {
	padding: 6px 0px; text-align: center;
}
.Shap ul {
	height: 48px;
}
.Shap li {
	height: 48px;
}
.Shap li {
	width: 54px; text-align: center; border-right-color: rgb(205, 200, 190); border-right-width: 1px; border-right-style: solid; float: left; cursor: pointer; background-image: url("../../images/diamond/shap_bg.jpg");
}
.Shap li.shap1 {
	background-image: url("../../images/diamond/shap_bg1.jpg");
}
.Shap li.shap2 {
	background-image: url("../../images/diamond/shap_bg2.jpg");
}
.Shap li.shap3 {
	background-image: url("../../images/diamond/shap_bg3.jpg");
}
.Shap li.shap4 {
	background-image: url("../../images/diamond/shap_bg4.jpg");
}
.Shap li.shap5 {
	background-image: url("../../images/diamond/shap_bg51.jpg");
}
.Shap li.shap6 {
	background-image: url("../../images/diamond/shap_bg61.jpg");
}
.Shap li.current {
	background-position: 0px -48px; border-right-color: rgb(190, 179, 155); border-right-width: 1px; border-right-style: solid;
}
.Shap li.title_name {
	padding: 18px 0px 0px 6px; width: 40px; height: 30px; text-align: left; line-height: 12px !important; cursor: auto;
}
.Shap li.addWidth {
	width: 58px; text-align: center; cursor: pointer;
}
.title_name span {
	background: none; padding: 0px; height: 10px; font-size: 9px; display: block;
}
.Shap li.title_name span {
	background: none; padding: 0px; height: 10px; font-size: 9px; display: block;
}
.slider_container {
	border: 1px solid rgb(230, 229, 227); border-image: none; height: 25px; clear: both; margin-top: 8px; _margin-top: 3px;
}
.slider_container li {
	width: 35px; height: 30px; text-align: center; line-height: 30px; border-right-color: rgb(220, 220, 220); border-right-width: 1px; border-right-style: solid; float: left; cursor: pointer; background-image: url("../../images/diamond/color_bg.jpg");
}
.dobble_width li {
	width: 71px;
}
.dobble_width li.last {
	width: 35px;
}
.edit_HW {
	height: 50px; margin-bottom: 18px;
}
.edit_HW li {
	width: 42px;
}
.edit_HW li.last {
	width: 58px;
}
.edit_HW li.title_name {
	background: url("../../images/diamond/cell_bg.gif") no-repeat; width: 41px !important; height: 42px !important; padding-top: 18px !important; _height: 42px;
}
.edit_HW1 li.title_name {
	background: url("../../images/diamond/cell_bg.gif") no-repeat; width: 41px !important; height: 42px !important; padding-top: 18px !important; _height: 42px;
}
.edit_HW li div {
	width: 231px; height: 25px;
}
.edit_HW li div.NGTC {
	width: 230px; text-align: center;
}
.edit_HW li div.NGTC li {
	width: 230px; background-image: url("../../images/diamond/color_bg1.jpg") !important;
}
.edit_HW1 {
	height: 50px; margin-bottom: 18px;
}
.edit_HW1 li {
	width: 76px;
}
.edit_HW1 li.last {
	width: 58px;
}
.edit_HW1 li div {
	width: 231px; height: 25px;
}
.slider_container li.current {
	background-position: 0px -30px; color: rgb(255, 255, 255);
}
.slider_container li.title_name {
	width: 38px; height: 23px; text-align: left; line-height: 10px; padding-top: 7px; padding-left: 6px; font-size: 12px;
}
.slider_container2 li.title_name {
	width: 38px; height: 26px; text-align: left; line-height: 10px; padding-top: 4px; padding-left: 6px; font-size: 12px;
}
.slider_container2 {
	height: 30px; padding-top: 18px;
}
.slider_container2 li.title_name {
	width: 40px; padding-left: 7px;
}
.slider_container2 li {
	float: left;
}
.slider_container3 li {
	width: 40px; font-size: 12px;
}
.slider_container2 li input {
	border: 1px solid rgb(210, 210, 210); border-image: none; width: 58px; margin-right: 5px;
}
.Search_right .slider_container li.title_name {
	width: 44px;
}
.Search_nolist {
	clear: both; margin-top: 45px; display: none;
}
.Search_button {
	clear: both; margin-top: 15px;
}
.Search_button input {
	border: 0px currentColor; border-image: none; width: 96px; height: 25px; line-height: 27px; cursor: pointer;
}
.Search_button input.curBtn {
	background: url("../../images/diamond/cur_bg.jpg") no-repeat; margin-right: 18px;
}
.Search_button input.allBtn {
	background: url("../../images/diamond/all_bg.jpg") no-repeat;
}
.History_List {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(217, 202, 180) rgb(217, 202, 180); border-image: none; height: 226px; overflow: hidden; padding-top: 10px; _height: 221px;
}
.History_List ul {
	padding: 11px 0px; height: 40px; border-bottom-color: rgb(201, 202, 202); border-bottom-width: 1px; border-bottom-style: dashed;
}
.History_List ul.last {
	border: 0px currentColor; border-image: none;
}
.History_List ul li {
	float: left;
}
.History_List ul li.History_List_of1 {
	width: 20px; padding-left: 5px;
}
.History_List ul li.History_List_of3 {
	width: 40px; margin-top: 30px; float: right;
}
.History_List ul li.History_List_of3 a {
	background: url("../../images/diamond/search_historyBtn_bg.jpg") no-repeat; padding: 2px 4px 0px; color: rgb(163, 160, 153);
}
.History_List ul li.History_List_of2 {
	width: 115px;
}
.CountAll {
	border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(210, 210, 210) rgb(210, 210, 210) currentColor; margin: 0px 3px; border-image: none; height: 31px;
}
.CountAll div {
	height: 31px; line-height: 31px; float: left;
}
.CountAll div span {
	font-weight: bold; margin-left: 10px;
}
.CountAll div.Count_1 {
	margin: 0px 110px 0px 98px;
}
.CountAll div.Count_3 {
	margin-left: 60px;
}
.Page {
	margin: 0px auto; padding: 0px 10px; width: 933px; height: 31px;
}
.Page1 {
	background: url("../../images/diamond/Page_bg1.jpg") no-repeat 0px 0px; height: 44px; padding-top: 8px;
}
.Page2 {
	background: url("../../images/diamond/Page_bg2.jpg") no-repeat 0px 0px; height: 60px; padding-top: 10px;
}
.Page2 div.kk {
	margin: 20px 0px 0px 10px; float: left; display: inline;
}
.Page2 div.kk span {
	margin: 0px 8px;
}
.Page2 div.kk span strong {
	color: red; font-size: 14px;
}
.Page .Page_list {
	float: right; display: inline;
}
.Page .Page_list a {
	padding: 0px 4px; margin-top: 8px; float: left;
}
.Page .Page_list span {
	margin-top: 8px; float: left;
}
.Page .Page_list a.Next {
	background: url("../../images/diamond/Next_pic.gif") no-repeat 4px 0px; width: 5px; height: 9px; margin-top: 11px; display: block;
}
.Page .Page_list a.Prev {
	background: url("../../images/diamond/Next_pic.gif") no-repeat 4px 0px; width: 5px; height: 9px; margin-top: 11px; display: block;
}
.Page .Page_list a.Prev {
	background: url("../../images/diamond/Prev_pic.gif") no-repeat 0px 0px;
}
.Page .button {
	float: left;
}
.Page .Page_list input {
	margin: 0px 5px; border: 1px solid rgb(210, 210, 210); border-image: none; width: 20px; text-align: center;
}
.Page .Page_list div {
	padding: 5px 0px 0px 10px; float: left;
}
.Page .button {
	margin: 6px 0px 0px 5px !important; padding: 0px 6px !important;
}
.Page .button:hover {
	color: rgb(0, 0, 0) !important;
}
.A1 .Page_list {
	margin: -8px 60px 0px; float: left; display: inline;
}
.A1 .Page_list a {
	padding: 0px 4px; margin-top: 8px; float: left;
}
.A1 .Page_list span {
	margin-top: 8px; float: left;
}
.A1 .Page_list a.Next {
	background: url("../../images/diamond/Next_pic.gif") no-repeat 4px 0px; width: 5px; height: 9px; margin-top: 11px; display: block;
}
.A1 .Page_list a.Prev {
	background: url("../../images/diamond/Next_pic.gif") no-repeat 4px 0px; width: 5px; height: 9px; margin-top: 11px; display: block;
}
.A1 .Page_list a.Prev {
	background: url("../../images/diamond/Prev_pic.gif") no-repeat;
}
.A1 .button {
	float: left;
}
.A1 .Page_list input {
	margin: 0px 5px; border: 1px solid rgb(210, 210, 210); border-image: none; width: 20px; text-align: center;
}
.A1 .Page_list div {
	padding: 5px 0px 0px 10px; float: left;
}
.A1 .button {
	margin: 6px 0px 0px 5px !important; padding: 0px 6px !important;
}
.A1 .button:hover {
	color: rgb(0, 0, 0) !important;
}
.Attention {
	text-align: center; line-height: 24px; padding-top: 20px;
}
.Attention {
	color: rgb(114, 74, 34);
}
.Attention a {
	color: rgb(114, 74, 34);
}
.Attention a {
	padding: 0px 10px;
}
.Member {
	margin: 0px auto; width: 1003px;
}
.Member .Header {
	background: url("../../images/diamond/logintop_pic.jpg") no-repeat 280px 50px; height: 108px;
}
.Member #Contenter {
	background: url("../../images/diamond/login_bg.jpg") no-repeat; height: 346px;
}
.Member .copy {
	background: url("../../images/diamond/copy_pic.jpg") no-repeat 10px 140px; height: 164px;
}
.Header .logo {
	float: left;
}
.Header .link {
	padding: 74px 10px 0px 0px; float: right;
}
.Login {
	background: url("../../images/diamond/login_title.jpg") no-repeat 0px 50px; width: 321px; padding-top: 100px; margin-left: 538px;
}
.Login td {
	padding: 6px 0px;
}
.Login td input {
	height: 20px;
}
.Login td input.Submit {
	background: url("../../images/diamond/Submite_bg.jpg") no-repeat; border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); width: 80px; height: 27px; text-align: center; line-height: 27px; padding-right: 5px; cursor: pointer;
}
.Member_Tips {
	padding: 0px 0px 30px 600px; width: 320px; text-align: left; color: rgb(120, 120, 120); line-height: 20px; font-weight: bold;
}
.Member_Tips span {
	color: rgb(176, 132, 68); display: block;
}
.Order_list {
	width: 96%; height: auto !important; z-index: 9999; min-height: 490px; background-color: rgb(255, 255, 255);
}
.Order_list div.List_title {
	background: url("../../images/diamond/ListTitle_bg.gif") repeat-x; height: 27px; line-height: 27px;
}
.List_title span {
	float: left; display: block;
}
.List_title div.close {
	background: url("../../images/diamond/close_icon.gif") no-repeat; width: 15px; height: 16px; margin-top: 4px; float: right; cursor: pointer;
}
.Order_list div.List_con {
	clear: left;
}
.List_con div.Goods {
	border: 1px solid rgb(227, 221, 209); border-image: none;
}
.List_con div.Goods td {
	background: url("../../images/diamond/td_bg.gif") repeat-x; height: 27px; text-align: center; line-height: 27px; border-bottom-color: rgb(227, 221, 209); border-bottom-width: 1px; border-bottom-style: solid;
}
.List_con div.Goods div.All {
	height: 27px; text-align: right; line-height: 27px; padding-right: 25px; background-color: rgb(242, 239, 233);
}
.All span {
	color: rgb(207, 0, 13);
}
.List_con div.ListCon_info {
	padding: 16px 20px; border: 1px solid rgb(227, 221, 209); border-image: none; margin-top: 20px; background-color: rgb(254, 254, 254);
}
.ListCon_info strong {
	margin-bottom: 30px; display: block;
}
.ListCon_info ul {
	padding-bottom: 8px; margin-bottom: 10px; border-bottom-color: rgb(201, 202, 202); border-bottom-width: 1px; border-bottom-style: dashed;
}
.ListCon_info li {
	height: 22px; line-height: 22px;
}
.ListCon_info div.submitBtn {
	text-align: center; margin-top: 30px;
}
.submitBtn input {
	background: url("../../images/diamond/btn_bg.gif") no-repeat; border: currentColor; border-image: none; width: 94px; height: 25px; text-align: center; line-height: 25px; cursor: pointer;
}
.mask {
	left: 0px; top: 0px; width: 1004px; height: 100%; color: rgb(199, 237, 204); position: absolute; opacity: 0.65; background-color: rgb(0, 0, 0); -moz-opacity: 0.65;
}
.PageSize {
	border: 1px solid rgb(185, 185, 185); border-image: none; width: 35px; height: 18px; text-indent: 8px; letter-spacing: 1px;
}
.PageNum {
	border: 1px solid rgb(185, 185, 185); border-image: none; width: 35px; height: 18px; text-indent: 8px; letter-spacing: 1px;
}
.FPageOk {
	background: url("../../images/diamond/btnbg.gif") no-repeat; border: 0px currentColor; border-image: none; width: 55px; height: 23px; display: none;
}
.NoData {
	width: 100%; height: 25px; text-align: center; color: red; line-height: 25px;
}
.RightEdit {
	margin: 10px 10px 0px 0px; border: 1px solid rgb(224, 218, 205); border-image: none; background-color: rgb(255, 255, 255);
}
.RightEdit table.tab_th {
	padding: 0px; clear: both;
}
.tab_th tr.tr_title {
	background: url("../../images/diamond/Rightmenu_dtpic.jpg") repeat-x;
}
.tab_th td.td_title {
	padding: 0px 0px 0px 15px; width: 86%; height: 29px;
}
.tab_th td input {
	float: left;
}
.tab_th td.chkall {
	width: 14px; height: 14px; line-height: 29px; float: left;
}
.tab_th td img {
	margin: 0px 5px;
}
.tab_th td span {
	margin: 1px 0px 0px 5px; float: left; display: inline;
}
.tab_th td a {
	background: url("../../images/diamond/ico2.gif") no-repeat 0px 2px; padding-left: 10px; _background-position: 0 2px;
}
.RightEdit table.tab_list {
	border-collapse: collapse;
}
.tab_list tr.tr_head {
	height: 16px; background-color: rgb(207, 168, 109);
}
.tab_list tr.tr_head td {
	text-align: center; color: rgb(255, 255, 255);
}
.tab_list .trcol {
	color: white;
}
.tab_list tr.tr_odd {
	background-color: rgb(243, 246, 248);
}
.tab_list tr.tr_over {
	background-color: rgb(243, 238, 232);
}
.tab_list td.tr_one {
	background-color: rgb(255, 255, 255);
}
.tab_list td {
	padding-left: 8px;
}
.tab_list td a {
	padding-right: 10px;
}
#Header .top_user {
	width: 280px; height: 26px; text-align: center; color: rgb(255, 255, 255); line-height: 26px; font-family: ����; margin-right: 29px; float: right;
}
#Header .top_user a {
	margin: 0px 5px;
}
.txtOnly {
	padding: 2px 0px 0px; border: 1px solid rgb(185, 185, 185); border-image: none; height: 18px; background-color: rgb(224, 224, 224);
}
.txtBase {
	padding: 2px 0px 0px; border: 1px solid rgb(185, 185, 185); border-image: none; width: 78px; height: 18px;
}
.pad5 {
	padding: 8px;
}
.pad10 {
	padding: 10px;
}
.pad15 {
	padding: 7px 15px 15px 7px;
}
.left20 {
	margin-left: 20px;
}
.left10 {
	margin-left: 10px;
}
.top0 {
	margin-top: 0px;
}
.brdwd0 {
	border: 0px currentColor; border-image: none;
}
.brdleft {
	border-left-color: rgb(224, 218, 205); border-left-width: 1px; border-left-style: solid;
}
.RightEdit table.tab_fav {
	
}
.tab_fav td.txt_right_fav {
	padding: 5px; text-align: right; font-weight: bold;
}
.tab_fav td.txt_right {
	padding: 5px; height: 20px; text-align: right; line-height: 20px;
}
.tab_fav td.txt_left {
	height: 20px; text-align: left; line-height: 20px;
}
.tab_fav td a {
	background: url("../../images/diamond/ico2.gif") no-repeat 0px 2px; margin-left: 10px; _background-position: 0 2px;
}
.tab_fav td input {
	float: none;
}
.tab_fav td select {
	float: none;
}
.tab_fav td span {
	float: none;
}
.ftred {
	color: red;
}
.tr_odd {
	background-color: rgb(235, 229, 217);
}
.tr_over {
	background-color: rgb(232, 204, 163);
}
.td_left {
	text-align: left;
}
.td_right {
	text-align: right;
}
.td_center {
	text-align: center;
}
.ListTable td {
	height: 24px; line-height: 24px;
}
.ListTable td a.Del_Tr {
	background: url("../../images/diamond/DelBtn_bg.gif") no-repeat; width: 12px; height: 12px; display: block;
}
#Note_Box {
	position: relative; z-index: 1000;
}
#Note_Box div.Note_Con {
	border-width: 1px; border-style: solid; border-color: rgb(197, 161, 107) rgb(232, 204, 163) rgb(232, 204, 163); padding: 15px 10px; border-image: none; left: -55px; top: 5px; width: 154px; height: auto !important; text-align: left; position: absolute; z-index: 1000; min-height: 130px; background-color: rgb(255, 253, 248); _left: -100px;
}
.Note_Con span {
	background: url("../../images/diamond/NoteIcon.gif") no-repeat; left: 50%; top: -9px; width: 15px; height: 9px; display: block; position: absolute;
}
.Note_Con dt {
	height: 20px; line-height: 20px;
}
.ProNote_Box dd {
	height: 20px; line-height: 20px;
}
.Note_Con dt {
	color: rgb(185, 138, 91); font-weight: bold; margin-bottom: 10px; border-bottom-color: rgb(232, 222, 201); border-bottom-width: 1px; border-bottom-style: dashed;
}
#AdLayer2 a.BackTop {
	border: 1px solid rgb(183, 160, 108); border-image: none; width: 30px; height: 20px; text-align: center; display: block; cursor: pointer;
}
#AdLayer2 a.BackCart {
	border: 1px solid rgb(183, 160, 108); border-image: none; width: 30px; height: 20px; text-align: center; display: block; cursor: pointer;
}
#AdLayer2 a.BackTop {
	background: url("../../images/diamond/backtop.gif") no-repeat center 5px rgb(226, 205, 160); margin-bottom: 5px;
}
#AdLayer2 a.BackCart {
	background: url("../../images/diamond/backcart.gif") no-repeat center 5px rgb(226, 205, 160);
}
.Order_list {
	border: 1px solid rgb(0, 0, 0); border-image: none; left: 50%; top: 70%; width: 720px; height: auto !important; margin-left: -360px; display: none; position: absolute; z-index: 9999; min-height: 490px; background-color: rgb(255, 255, 255);
}
.Order_list div.List_title {
	background: url("../../images/diamond/ListTitle_bg.gif") repeat-x; padding: 2px 20px 0px 24px; height: 27px; line-height: 27px;
}
.List_title span {
	float: left; display: block;
}
.List_title div.close {
	background: url("../../images/diamond/close_icon.gif") no-repeat; width: 15px; height: 16px; margin-top: 4px; float: right; cursor: pointer;
}
.Order_list div.List_con {
	padding: 30px 53px 28px; clear: left;
}
.List_con div.Goods {
	border: 1px solid rgb(227, 221, 209); border-image: none;
}
.List_con div.Goods td {
	background: url("../../images/diamond/td_bg.gif") repeat-x; height: 27px; text-align: center; line-height: 27px; border-bottom-color: rgb(227, 221, 209); border-bottom-width: 1px; border-bottom-style: solid;
}
.List_con div.Goods div.All {
	height: 27px; text-align: right; line-height: 27px; padding-right: 25px; background-color: rgb(242, 239, 233);
}
.All span {
	color: rgb(207, 0, 13);
}
.List_con div.ListCon_info {
	padding: 16px 20px; border: 1px solid rgb(227, 221, 209); border-image: none; margin-top: 20px; background-color: rgb(254, 254, 254);
}
.ListCon_info strong {
	margin-bottom: 30px; display: block;
}
.ListCon_info ul {
	padding-bottom: 8px; margin-bottom: 10px; border-bottom-color: rgb(201, 202, 202); border-bottom-width: 1px; border-bottom-style: dashed;
}
.ListCon_info li {
	height: 22px; line-height: 22px;
}
.ListCon_info li textarea {
	width: 460px; height: 50px;
}
.ListCon_info div.submitBtn {
	text-align: center; margin-top: 30px;
}
.submitBtn input {
	background: url("../../images/diamond/btn_bg.gif") no-repeat; border: currentColor; border-image: none; width: 94px; height: 25px; text-align: center; line-height: 25px; cursor: pointer;
}
.note p {
	margin: 0px auto; width: 600px; color: red; line-height: 22px; font-weight: bold; -ms-word-break: break-all;
}
.slider_container4 {
	height: 25px; clear: both; margin-top: 8px; _margin-top: 3px;
}
.slider_container4 li {
	width: 170px; height: 30px; text-align: center; line-height: 30px; float: left; cursor: pointer;
}
.slider_container4 li.title_name {
	width: 38px; height: 23px; text-align: left; line-height: 10px; padding-top: 7px; padding-left: 6px; font-size: 12px;
}
